# Node
node_modules/
dist/
.env
.env.*
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.env.*
data/raw/
data/processed/*.csv
!data/processed/.gitkeep

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo
